<section data-ng-controller="SaleURLController" data-ng-init="initLoad()">
    <page-title title="URL Sale"></page-title>
    <div class="row">
        <div class="col-sm-12">
            <div class="main-box">
                <header class="main-box-header clearfix">
                    &nbsp;
                </header>
                <div class="main-box-body clearfix">
                    <form name="searchForm" class="form-horizontal">
                        <div class="form-group">
                            <div class="col-lg-5">
                                <input ng-model="companyName" id="companyAutoComplete" class="form-control" placeholder="Company Name">
                            </div>
                            <div class="col-lg-5">
                                <input ng-model="sourceUrl" class="form-control" placeholder="Store URL" required>
                            </div>
                        </div>
                        <div class="btn-group pull-right">
                            <button ng-click="shortenSaleURL()" class="btn btn-success">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="main-box clearfix">
                <div class="main-box-body clearfix">
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true">&times;</button>
                                    <h4 class="modal-title">Confirm To Delete?
                                    </h4>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel
                                    </button>
                                    <button type="button" class="btn btn-primary" ng-click="confirmRemove();" data-dismiss="modal">Confirm
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <div class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                            <div class="dataTables_length">
                                <label>Show
                                    <select ng-disabled="isLoading" class="form-control input-sm" ng-model="numEntryPerPage"
                                                ng-options="num for num in showEntries" ng-change="updateEntry()"></select>
                                    entries
                                </label>
                            </div>

                            <div class="dataTables_filter">
                                <label>Search:
                                    <input type="search" class="form-control input-sm"
                                           ng-model="inputSearchText" ng-disabled="isLoading"
                                           ng-keypress="searchEnter($event)" ng-blur="search()">
                                </label>
                            </div>
                            <div class="clearfix"></div>

                            <table class="table table-hover dataTable no-footer">
                                <thead>
                                    <tr>
                                        <th ng-repeat="header in tableHeader" ng-class="header.sort"
                                            ng-click="sortByHeader($index)">{{header.name}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="row in listUrl">
                                        <td>{{row.sourceUrl}}</td>
                                        <td>{{row.shortenUrl}}</td>
                                        <td>{{row.companyName}}</td>
                                        <td>
                                            <a ng-click="openModal(row._id)" data-toggle="modal" data-target="#myModal" class="table-link danger">
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="dataTables_paginate paging_simple_numbers">
                                <ul class="pagination pull-right">
                                    <li class="paginate_button previous">
                                        <a ng-click="loadPageDetail(currentPage - 1)"><i class="fa fa-chevron-left"></i></a>
                                    </li>
                                    <li ng-repeat="i in range(currentPage - 5, currentPage + 4, totalPages)" ng-class="{'paginate_button active': i === currentPage}" ng-click="loadPageDetail(i)">
                                        <a>{{i}}</a>
                                    </li>
                                    <li class="paginate_button next">
                                        <a ng-click="loadPageDetail(currentPage + 1)"><i class="fa fa-chevron-right"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
	$(function($) {
		$('#companyAutoComplete').typeahead({
			prefetch: window.apiUrl + '/sale-url/autosuggest-company',
			limit: 10
		});

	});
</script>
