<section data-ng-controller="AuthenticationController">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div id="login-box">
                    <div class="row">
                        <div class="col-xs-12">
                            <header id="login-header">
                                <div id="login-logo">
                                    <img src="cube/img/logo.png" alt=""/>
                                </div>
                            </header>
                            <div id="login-box-inner">
                                <form role="form" data-ng-submit="signup()">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input class="form-control" type="text" data-ng-model="credentials.firstName"
                                               placeholder="First Name" required>
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-cloud"></i></span>
                                        <input class="form-control" type="text" data-ng-model="credentials.lastName"
                                               placeholder="Last Name" required>
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                        <input class="form-control" type="text" data-ng-model="credentials.email"
                                               placeholder="Email Address" readonly required>
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                        <input class="form-control" type="text" data-ng-model="credentials.username"
                                               placeholder="User Name" required>
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                        <input type="password" class="form-control" data-ng-model="credentials.password"
                                               placeholder="Enter password" required>
                                    </div>
                                    <div id="remember-me-wrapper">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <div class="checkbox-nice">&nbsp;
                                                </div>
                                            </div>
                                            <a href="/acc/signin" id="login-forget-link" class="col-xs-8">
                                                Already have Account? Sign in
                                            </a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <button type="submit" class="btn btn-success col-xs-12">Register</button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <p class="social-text">Or sign up with</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6">
                                            <a href="/api/auth/facebook" class="btn btn-primary col-xs-12 btn-facebook">
                                                <i class="fa fa-facebook"></i> facebook
                                            </a>
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                            <a href="/api/auth/google" class="btn btn-primary col-xs-12 btn-google">
                                                <i class="fa fa-google"></i> Google
                                            </a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
