<section>
<div class="dataTables_length">
    <label>Show
        <select ng-disabled="isLoading" class="form-control input-sm" ng-model="numEntryPerPage"
                ng-options="num for num in showEntries" ng-change="updateEntry()"></select>
        entries
    </label>
</div>

<!--div class="DTTT btn-group">
    <a class="btn btn-primary DTTT_button_copy">
        <span>Copy</span>
    </a>
    <a class="btn btn-primary DTTT_button_csv">
        <span>CSV</span>
    </a>
    <a class="btn btn-primary DTTT_button_xls">
        <span>Excel</span>
    </a>
    <a class="btn btn-primary DTTT_button_pdf">
        <span>PDF</span>
    </a>
    <a class="btn btn-primary DTTT_button_print">
        <span>Print</span>
    </a>
</div-->

<div class="dataTables_filter">
    <label>Search:
        <input type="search" class="form-control input-sm"
               ng-model="inputSearchText" ng-disabled="isLoading"
               ng-keypress="searchEnter($event)" ng-blur="search()">
    </label>
</div>
</section>
