<section>
    <page-title title="Sale Payment"></page-title>
    <div class="row">
        <div class="col-sm-12">
            <div class="main-box">
                <header class="main-box-header clearfix">
                    &nbsp;
                </header>
                <div class="main-box-body clearfix">
                    <form name="searchForm" class="form-horizontal" data-ng-submit="search()">
                        <div class="form-group form-group-select2">
                            <div class="col-sm-3">
                                <select ng-model="selectedAlbum" select2
                                        style="width:250px"
                                        ng-change="setAlbum()"
                                        ng-options="album as album.albumName for album in listAlbum">
                                    <option value=''>All Albums</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <select style="width:250px" select2
                                        ng-change="setUser()"
                                        id="user"
                                        ng-options="user as user.userName for user in selectedAlbum.users"
                                        ng-model="selectedUser">
                                    <option value=''>All Users</option>
                                </select>
                            </div>
                            <div class="col-sm-2">
                                <select style="width:150px" select2
                                        ng-change="setRole()"
                                        id="role"
                                        ng-options="role as role.role for role in selectedUser.roles"
                                        ng-model="selectedRole">
                                    <option value=''>All Roles</option>
                                </select>
                            </div>
                            <div class="col-sm-4 pull-right">
                                <select style="width:120px" select2
                                        ng-change="loadUserEarningCommission()"
                                        id="startDate"
                                        ng-options="item.value as item.text | date : 'MMM - yyyy' for item in dateRangeSel"
                                        ng-model="startDate">
                                    <option value=0>Start Date</option>
                                </select>
                                &nbsp;
                                <select style="width:120px" select2
                                        ng-change="loadUserEarningCommission()"
                                        id="endDate"
                                        ng-options="item.value as item.text | date : 'MMM - yyyy' for item in dateRangeSel.slice().reverse()"
                                        ng-model="endDate">
                                    <option value=9999999999999>End Date</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="table-responsive">
                <div class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                    <header-filter></header-filter>

                    <div class="clearfix"></div>
                    <table class="table table-hover dataTable no-footer">
                        <thead>
                        <tr>
                            <th ng-repeat="header in tableHeader" ng-class="header.sort"
                                ng-click="sortByHeader($index)">{{header.name}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in paymentList">
                            <td>{{item.sale_date | date : "MMM - yyyy"}}</td>
                            <td>{{item.album_name}}</td>
                            <td>{{item.user_name}}</td>
                            <td>{{item.role}}</td>
                            <td>{{item.commission | number: 3}}</td>
                            <td>
                                <button class={{getPaymentClass(item.status)}} ng-click="submitPayment($index)">{{getPaymentButton(item.status)}}</button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" align="right"><b>Earning / Unpaid:</b></td>
                            <td><b>{{paymentList.sum('commission') | number: 3}}</b> /
                                <b>{{paymentList | filterUnpaid: 'commission' | number: 3}}</b>
                            </td>
                            <td rowspan="2">
                                <button class="btn btn-danger" ng-click="submitPayment('false')">Reset All</button>
                                <button class="btn btn-success" ng-click="submitPayment('true')">Pay All</button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" align="right"><b>Total Earning / Total Unpaid:</b></td>
                            <td><b>{{totalEarning | number: 3}}</b> /
                                <b>{{totalUnpaid | number: 3}}</b>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <table-pagination></table-pagination>
                </div>
            </div>
        </div>
    </div>
</section>
