<div class="tab-pane fade in active" id="tab-summary">
    <div class="row">
        <div class="col-sm-12">
            <div class="main-box clearfix">
                <header class="main-box-header clearfix">
                    <h2>Sale Performance <span ng-show="dateStart">(Date Start - Date End)</span></h2>
                </header>
                <div class="main-box-body clearfix">
                    <div class="col-sm-2 text-center">
                        <h2>{{earningSummary.commission | number: 3}}</h2>
                        <div class="badge badge-success">Earnings</div>
                    </div>
                    <div class="col-sm-2 text-center">
                        <h2>{{earningSummary.paid | number: 3}}</h2>
                        <div class="badge badge-success">Paid</div>
                    </div>
                    <div class="col-sm-2 text-center">
                        <h2>{{earningSummary.balance | number: 3}}</h2>
                        <div class="badge badge-success">Balance</div>
                    </div>
                    <div class="col-sm-2 text-center">
                        <h2>{{earningSummary.DT}}</h2>
                        <div class="badge badge-success">Sale Tracks</div>
                    </div>
                    <div class="col-sm-2 text-center">
                        <h2>{{earningSummary.DA}}</h2>
                        <div class="badge badge-success">Sale Albums</div>
                    </div>
                    <div class="col-sm-2 text-center">
                        <h2>{{earningSummary.S}}</h2>
                        <div class="badge badge-success">Streams</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="main-box">
                <header class="main-box-header clearfix">
                    <h2>Monthly Earning</h2>
                </header>

                <div class="main-box-body clearfix">
                    <div id="roll14" style="height: 400px; min-width: 310px"></div>
                </div>
            </div>
        </div>
    </div>
</div>
