<table class="table table-hover dataTable no-footer">
    <thead>
    <tr>
        <th ng-repeat="header in tableHeader" ng-class="header.sort"
            ng-click="sortByHeader($index)">{{header.name}}</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in saleCommission">
        <td>{{getColName(item.name)}}</td>
        <td>{{item.role}}</td>
        <td>{{item.profit | number: 3}}</td>
        <td>{{item.commission| number: 3}}</td>
    </tr>
    <tr>
        <td colspan="3" align="right"><b>Total</b></td>
        <td><b>{{saleCommission.sum('commission') | number: 3}}</b></td>
    </tr>
    </tbody>
</table>
