<div class="dataTables_paginate paging_simple_numbers">
    <ul class="pagination pull-right">
        <li class="paginate_button previous">
            <a ng-click="loadPageDetail(currentPage - 1)"><i class="fa fa-chevron-left"></i></a>
        </li>
        <li ng-repeat="i in range(currentPage - 5, currentPage + 4, totalPages)" ng-class="{'paginate_button active': i === currentPage}" ng-click="loadPageDetail(i)">
            <a>{{i}}</a>
        </li>
        <li class="paginate_button next">
            <a ng-click="loadPageDetail(currentPage + 1)"><i class="fa fa-chevron-right"></i></a>
        </li>
    </ul>
</div>
