<table class="table table-hover dataTable no-footer">
    <thead>
    <tr>
        <th ng-repeat="header in tableHeader" ng-class="header.sort"
            ng-click="sortByHeader($index)">{{header.name}}</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in saleCommission">
        <td>{{item.name}}</td>
        <td>{{item.da_quantity}}</td>
        <td>{{item.da_profit | number: 3}}</td>
        <td>{{item.dt_quantity}}</td>
        <td>{{item.dt_profit | number: 3}}</td>
        <td>{{item.s_quantity}}</td>
        <td>{{item.s_profit | number: 3}}</td>
        <td>{{item.profit | number: 3}}</td>
        <td>{{item.commission| number: 3}}</td>
    </tr>
    <tr>
        <td colspan="8" align="right"><b>Total</b></td>
        <td><b>{{saleCommission.sum('commission') | number: 3}}</b></td>
    </tr>
    </tbody>
</table>
