<section class="login-container" data-ng-controller="PasswordController">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div id="login-box">
					<div id="login-box-holder">
						<div class="row">
							<div class="col-xs-12">
								<header id="login-header">
									<div id="login-logo">
										<img src="cube/img/logo.png" alt=""/>
									</div>
								</header>
								<div id="login-box-inner" class="with-heading">
									<h4>Forgot your password?</h4>
									<p>
										Enter your account username to recover your password.
									</p>
									<form role="form" data-ng-submit="askForPasswordReset()">
										<div class="input-group reset-pass-input">
											<span class="input-group-addon"><i class="fa fa-user"></i></span>
											<input class="form-control" type="text" data-ng-model="credentials.username" placeholder="User Name">
										</div>
										<div class="row">
											<div class="col-xs-12">
												<button type="submit" class="btn btn-success col-xs-12">Reset password</button>
											</div>
											<div class="col-xs-12">
												<br/>
												<a href="/acc/signin" id="login-forget-link" class="forgot-link col-xs-12">Back to login</a>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
