<section class="row text-center" data-ng-controller="ResetController">
	<h3 class="col-md-12">Password successfully reset</h3>
	<a ng-click="toHomePage()" class="col-md-12">Continue to home page</a>
</section>
