<section data-ng-controller="SubmitController">
    <page-title title="Submit Your Music"></page-title>
    <div class="row">
        <div class="col-lg-12">
            <div class="main-box">
                <div class="main-box-body clearfix">
                    <form role="form">
                        <div class="form-group">
                            <label for="inputEmail">Email address</label>
                            <input type="email" class="form-control" id="inputEmail" placeholder="Enter email"/>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword">Password</label>
                            <input type="password" class="form-control" id="inputPassword" placeholder="Password"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
