<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<p>Dear {{name}},</p>

<p>
    You are invited as a member at {{appName}}
</p>

<p>Please visit this url to register your account:</p>

<p>{{url}}</p>
<strong>If you didn't make this request, you can ignore this email.</strong>
<br>

<p>The {{appName}} Support Team</p>
</body>
</html>
