<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<p>Dear {{name}},</p>

<p>
    Your new album share commission at {{appName}} is pending for Approval.
</p>

<p>Kindly visit this url to take appropriate action:</p>

<p>{{url}}</p>
<br>

<p>The {{appName}} Support Team</p>
</body>
</html>
