<section data-ng-controller="ComissionController">
	<page-title title="Import Report"></page-title>
	<div id="load" class="loading" style="display: none;">
		<div class="modal-loader">
			<div class="spinnerText"><div>Processing...</div></div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="main-box">
				<header class="main-box-header clearfix">
					&nbsp;
				</header>
				<div class="main-box-body clearfix">
					<form name="importSaleForm" data-ng-submit="uploadFile(reportFile)" class="form-horizontal">
						<div class="form-group">
							<div class="col-xs-12 col-sm-7">
								<input class="form-control" ng-file-select ng-model="reportFile" type="file">
							</div>
							<div class="col-xs-12 col-sm-5">
								<button type="submit" class="btn btn-success">Import Report</button>
								<a data-ng-show="success" class="btn btn-default">View Sale Report</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
