<section data-ng-controller="SalesController" data-ng-init="initLoad()">
    <page-title title="View Commission"></page-title>
    <div class="row">
        <div class="col-sm-12">
            <div class="main-box">
                <header class="main-box-header clearfix">
                    &nbsp;
                </header>
                <div class="main-box-body clearfix">
                    <form name="searchForm" class="form-horizontal">
                        <div class="form-group form-group-select2">
                            <div class="col-sm-3">
                                <select ng-model="selectedAlbum" select2
                                        style="width:250px"
                                        id="album"
                                        ng-change="setAlbum()"
                                        ng-options="album as album.albumName for album in listAlbum">
                                        <option value=''>All Albums</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <select style="width:250px" select2
                                        ng-change="setUser()"
                                        id="user"
                                        ng-options="user as user.userName for user in selectedAlbum.users"
                                        ng-model="selectedUser">
                                        <option value=''>All Users</option>
                                </select>
                            </div>
                            <div class="col-sm-2">
                                <select style="width:150px" select2
                                        ng-change="setRole()"
                                        id="role"
                                        ng-options="role as role.role for role in selectedUser.roles"
                                        ng-model="selectedRole">
                                        <option value=''>All Roles</option>
                                </select>
                            </div>
                            <div class="col-sm-4 pull-right">
                                <select style="width:120px" select2
                                        ng-change="loadCommission()"
                                        id="startDate"
                                        ng-options="item.value as item.text | date : 'MMM - yyyy' for item in dateRangeStart"
                                        ng-model="startDate">
                                    <option value=0>Start Date</option>
                                </select>
                            &nbsp;
                                <select style="width:120px" select2
                                        ng-change="loadCommission()"
                                        id="endDate"
                                        ng-options="item.value as item.text | date : 'MMM - yyyy' for item in dateRangeEnd.slice().reverse()"
                                        ng-model="endDate">
                                    <option value=9999999999999>End Date</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="main-box clearfix">
                <div class="tabs-wrapper profile-tabs">
                    <ul class="nav nav-tabs">
                        <li class="active"><a showtab="" ng-click="setTabDisplay('tabChartSummary')" data-target="#tab-summary" data-toggle="tab">Summary</a></li>
                        <li><a showtab="" ng-click="setTabDisplay('tabDetail')" data-target="#tab-detail" data-toggle="tab">Details</a></li>
                        <li><a showtab="" ng-click="setTabDisplay('tabLabel')" data-target="#tab-label" data-toggle="tab">Labels</a></li>
                        <li><a showtab="" ng-click="setTabDisplay('tabArtist')" data-target="#tab-artist" data-toggle="tab">Artist</a></li>
                        <li><a showtab="" ng-click="setTabDisplay('tabAlbum')" data-target="#tab-album" data-toggle="tab">Album</a></li>
                        <li><a showtab="" ng-click="setTabDisplay('tabTrack')" data-target="#tab-track" data-toggle="tab">Tracks</a></li>
                        <li><a showtab="" ng-click="setTabDisplay('tabStore')" data-target="#tab-store" data-toggle="tab">Stores</a></li>
                    </ul>

                    <div class="tab-content">
                        <tab-chart-summary></tab-chart-summary>
                        <div class="tab-pane fade" id="tab-detail">
                            <div class="table-responsive">
                                <div class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                                    <header-filter></header-filter>

                                    <div class="clearfix"></div>

                                    <table class="table table-hover dataTable no-footer">
                                        <thead>
                                        <tr>
                                            <th ng-repeat="header in detailHeader" ng-class="header.sort"
                                                ng-click="sortByHeader($index)">{{header.name}}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="item in saleCommission">
                                            <td>{{item.album_name}}</td>
                                            <td>{{item.track_name}}</td>
                                            <td>
                                                <a ng-show="isLink(item)" href="{{item.dms}}">{{item.partner}}</a>
                                                <span ng-hide="isLink(item)">{{item.partner}}</span>
                                            </td>
                                            <td>{{item.type}}</td>
                                            <td>{{item.quantity}}</td>
                                            <td>{{item.unit | number: 3}}</td>
                                            <td>{{item.profit | number: 3}}</td>
                                            <td>{{item.commission | number:3}}</td>
                                            <td>{{item.sale_date | date:'yyyy-MM-dd'}}</td>
                                        </tr>
                                        <tr ng-if="saleCommission.length === 0">
                                            <td colspan="9" class="dataTables_empty">No data found</td>
                                        </tr>
                                        <tr>
                                            <td colspan="6" align="right"><b>Total</b></td>
                                            <td><b>{{saleCommission.sum('profit') | number: 3}}</b></td>
                                            <td colspan="2"><b>{{saleCommission.sum('commission') | number: 3}}</b></td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    <table-pagination></table-pagination>

                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab-label">
                            <div class="table-responsive">
                                <div class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                                    <header-filter></header-filter>

                                    <div class="clearfix"></div>

                                    <table-sale-group></table-sale-group>

                                    <table-pagination></table-pagination>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab-artist">
                            <div class="table-responsive">
                                <div class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                                    <header-filter></header-filter>

                                    <div class="clearfix"></div>

                                    <table class="table table-hover dataTable no-footer">
                                        <thead>
                                        <tr>
                                            <th ng-repeat="header in tableArtistHeader" ng-class="header.sort"
                                                ng-click="sortByHeader($index)">{{header.name}}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="item in saleCommission">
                                            <td>{{userNameByID[item.name]}}</td>
                                            <td>{{item.role}}</td>
                                            <td>{{item.da_quantity}}</td>
                                            <td>{{item.da_profit | number: 3}}</td>
                                            <td>{{item.dt_quantity}}</td>
                                            <td>{{item.dt_profit | number: 3}}</td>
                                            <td>{{item.s_quantity}}</td>
                                            <td>{{item.s_profit | number: 3}}</td>
                                            <td>{{item.profit | number: 3}}</td>
                                            <td>{{item.commission| number: 3}}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="9" align="right"><b>Total</b></td>
                                            <td><b>{{saleCommission.sum('commission') | number: 3}}</b></td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    <table-pagination></table-pagination>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab-album">
                            <div class="table-responsive">
                                <div class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                                    <header-filter></header-filter>

                                    <div class="clearfix"></div>

                                    <table-sale-group></table-sale-group>

                                    <table-pagination></table-pagination>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab-track">
                            <div class="table-responsive">
                                <div class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                                    <header-filter></header-filter>

                                    <div class="clearfix"></div>

                                    <table class="table table-hover dataTable no-footer">
                                    <thead>
                                        <tr>
                                            <th ng-repeat="header in trackHeader" ng-class="header.sort"
                                                ng-click="sortByHeader($index)">{{header.name}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="item in saleCommission">
                                        <td>{{item.album_name}}</td>
                                        <td>{{item.track_name}}</td>
                                        <td>{{item.type}}</td>
                                        <td>{{item.quantity}}</td>
                                        <td>{{item.profit | number: 3}}</td>
                                        <td>{{item.commission| number: 3}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="4" align="right"><b>Total</b></td>
                                        <td><b>{{saleCommission.sum('profit') | number: 3}}</b></td>
                                        <td><b>{{saleCommission.sum('commission') | number: 3}}</b></td>
                                    </tr>
                                    </tbody>
                                </table>

                                    <table-pagination></table-pagination>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab-store">
                            <div class="table-responsive">
                                <div class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                                    <header-filter></header-filter>

                                    <div class="clearfix"></div>

                                    <table-sale-group></table-sale-group>

                                    <table-pagination></table-pagination>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
