<section data-ng-controller="SettingsController">
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li><a href="/acc/">Home</a></li>
                <li><a href="/acc/user/list-users"><span>User Management</span></a></li>
                <li class="active"><span>Add User</span></li>
            </ol>
            <h1>Add User</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="main-box">
                <header class="main-box-header clearfix">
                    &nbsp;
                </header>
                <div class="main-box-body clearfix">
                    <form name="addUserForm" data-ng-submit="addUserProfile(addUserForm.$valid)" class="form-horizontal"
                          role="form">
                        <div class="form-group">
                            <label class="col-lg-2 control-label">First Name</label>

                            <div class="col-lg-10">
                                <input type="text" class="form-control" data-ng-model="member.firstName"
                                       placeholder="First Name"
                                       required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Last Name</label>

                            <div class="col-lg-10">
                                <input type="text" class="form-control" data-ng-model="member.lastName"
                                       placeholder="Last Name"
                                       required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Email</label>

                            <div class="col-lg-10">
                                <input type="email" class="form-control" data-ng-model="member.email" placeholder="Email"
                                       required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Username</label>

                            <div class="col-lg-10">
                                <input type="text" class="form-control" data-ng-model="member.username"
                                       placeholder="Username"
                                       required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Password</label>

                            <div class="col-lg-10">
                                <input type="password" class="form-control" data-ng-model="member.password"
                                       placeholder="Password"
                                       required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Sale ID</label>

                            <div class="col-lg-10">
                                <input type="text" class="form-control" data-ng-model="member.saleId"
                                       placeholder="Sale ID"
                                       required>
                            </div>
                        </div>
                        <div class="btn-group pull-right">
                            <button type="submit" class="btn btn-success">Add User</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
