<section data-ng-controller="SettingsController">
    <page-title title="Change Your Password"></page-title>
    <div class="row">
        <div class="col-lg-12">
            <div class="main-box">
                <header class="main-box-header clearfix">
                    &nbsp;
                </header>
                <div class="main-box-body clearfix">
                    <form name="passwordForm" data-ng-submit="changeUserPassword(passwordForm.$valid)"
                          class="form-horizontal">
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Current Password</label>

                            <div class="col-lg-10">
                                <input type="password" class="form-control"
                                       data-ng-model="passwordDetails.currentPassword" placeholder="Current Password"
                                       required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">New Password</label>

                            <div class="col-lg-10">
                                <input type="password" class="form-control" data-ng-model="passwordDetails.newPassword"
                                       placeholder="New Password" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Verify Password</label>

                            <div class="col-lg-10">
                                <input type="password" class="form-control"
                                       data-ng-model="passwordDetails.verifyPassword" placeholder="Verify Password"
                                       required>
                            </div>
                        </div>
                        <div class="btn-group pull-right">
                            <a href="/acc/settings/profile" class="btn btn-default">Edit Profile</a>
                            <a href="/acc/settings/payment" class="btn btn-default">Payment Preference</a>
                            <button type="submit" class="btn btn-success">Save Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
