<section data-ng-controller="SettingsController" data-ng-init="getEditUser()">
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li><a href="/acc/">Home</a></li>
                <li><a href="/acc/user/list-users"><span>User Management</span></a></li>
                <li class="active"><span>Edit User</span></li>
            </ol>
            <h1>Edit User</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="main-box">
                <header class="main-box-header clearfix">
                    &nbsp;
                </header>
                <div class="main-box-body clearfix">
                    <form name="editUserForm" data-ng-submit="editUserProfile(editUserForm.$valid)" class="form-horizontal"
                          role="form">
                        <div class="form-group">
                            <label class="col-lg-2 control-label">First Name</label>

                            <div class="col-lg-10">
                                <input type="text" class="form-control" data-ng-model="member.firstName"
                                       placeholder="First Name"
                                       required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Last Name</label>

                            <div class="col-lg-10">
                                <input type="text" class="form-control" data-ng-model="member.lastName"
                                       placeholder="Last Name"
                                       required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Email</label>

                            <div class="col-lg-10">
                                <input type="email" class="form-control" data-ng-model="member.email" placeholder="Email"
                                       required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Roles</label>

                            <div class="col-lg-10">
                                <input class="form-control" data-ng-model="member.roles" placeholder="Roles"
                                       required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Username</label>

                            <div class="col-lg-10">
                                <input type="text" class="form-control" data-ng-model="member.username"
                                       placeholder="Username"
                                       required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">New Password</label>

                            <div class="col-lg-10">
                                <input type="password" class="form-control" data-ng-model="member.password"
                                       placeholder="Password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Confirm Password</label>

                            <div class="col-lg-10">
                                <input type="password" class="form-control" data-ng-model="member.cPassword"
                                       placeholder="Confirm Password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Sale ID</label>

                            <div class="col-lg-10">
                                <input type="text" class="form-control" data-ng-model="member.saleId"
                                       placeholder="Sale ID">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Payment Point</label>

                            <div class="col-lg-10">
                                <input type="number" min="100" class="form-control" data-ng-model="member.payment.point">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Payment Type</label>

                            <div class="col-lg-10">
                                <label class="radio-inline">
                                    <input type="radio" name="radio-2" checked>
                                    PayPal
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">PayPal Account's Owner Name</label>

                            <div class="col-lg-10">
                                <input type="text" class="form-control" data-ng-model="member.payment.account">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Paypal E-Mail Address</label>

                            <div class="col-lg-10">
                                <input type="email" class="form-control" data-ng-model="member.payment.email">
                            </div>
                        </div>
                        <div class="btn-group pull-right">
                            <button type="submit" class="btn btn-success">Save User</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
