<section data-ng-controller="SettingsController">
    <page-title title="Edit Profile"></page-title>
    <div class="row">
        <div class="col-lg-12">
            <div class="main-box">
                <header class="main-box-header clearfix">
                    <a href="/acc/user/invite-user" ng-if="auth.isAuthorized('admin')" class="btn btn-success pull-right">Invite New User</a>
                </header>
                <div class="main-box-body clearfix">
                    <form name="userForm" data-ng-submit="updateUserProfile(userForm.$valid)" class="form-horizontal"
                          role="form">
                        <div class="form-group">
                            <label class="col-lg-2 control-label">First Name</label>

                            <div class="col-lg-10">
                                <input type="text" class="form-control" data-ng-model="user.firstName"
                                       placeholder="First Name"
                                       required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Last Name</label>

                            <div class="col-lg-10">
                                <input type="text" class="form-control" data-ng-model="user.lastName"
                                       placeholder="Last Name"
                                       required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Email</label>

                            <div class="col-lg-10">
                                <input type="email" class="form-control" data-ng-model="user.email" placeholder="Email"
                                       required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Username</label>

                            <div class="col-lg-10">
                                <input type="text" class="form-control" data-ng-model="user.username"
                                       placeholder="Username"
                                       required>
                            </div>
                        </div>
                        <div class="btn-group pull-right">
                            <a href="/acc/settings/payment" class="btn btn-default">Payment Preference</a>
                            <a href="/acc/settings/password" class="btn btn-default">Change Password</a>
                            <button type="submit" class="btn btn-success">Save Profile</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
