<section data-ng-controller="SettingsController">
    <page-title title="Invite a User"></page-title>
    <div id="load" class="loading" style="display: none;">
        <div class="modal-loader">
            <div class="spinnerText"><div>Processing...</div></div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="main-box">
                <header class="main-box-header clearfix">
                    &nbsp;
                </header>
                <div class="main-box-body clearfix">
                    <form name="inviteForm" data-ng-submit="inviteUser(inviteForm.$valid)"
                          class="form-horizontal">
                        <div class="form-group">
                            <label class="col-lg-2 control-label">&nbsp;</label>

                            <div class="col-lg-6">
                                <input type="email" class="form-control"
                                       data-ng-model="inviteEmail" placeholder="Email Address..."
                                       required>
                            </div>
                            <div class="col-lg-4">
                                <button type="submit" class="btn btn-success">Invite</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
