<section data-ng-controller="SettingsController" data-ng-init="getUserPayment()">
    <page-title title="Payment Preferences"></page-title>
    <div class="row">
        <div class="col-lg-12">
            <div class="main-box">
                <header class="main-box-header clearfix">
                    &nbsp;
                </header>
                <div class="main-box-body clearfix">
                    <form name="paymentForm" data-ng-submit="changePayment(paymentForm.$valid)" class="form-horizontal"
                          role="form">
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Payment Point</label>

                            <div class="col-lg-10">
                                <input type="number" min="100" class="form-control" data-ng-model="payment.point" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Payment Type</label>

                            <div class="col-lg-10">
                                <label class="radio-inline">
                                    <input type="radio" name="radio-2" checked>
                                    PayPal
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">PayPal Account's Owner Name</label>

                            <div class="col-lg-10">
                                <input type="text" class="form-control" data-ng-model="payment.account" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Paypal E-Mail Address</label>

                            <div class="col-lg-10">
                                <input type="email" class="form-control" data-ng-model="payment.email" required>
                            </div>
                        </div>
                        <div class="btn-group pull-right">
                            <a href="/acc/settings/profile" class="btn btn-default">Edit Profile</a>
                            <a href="/acc/settings/password" class="btn btn-default">Change Password</a>
                            <button type="submit" class="btn btn-success">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
