<div class="nav-no-collapse pull-right" id="header-nav" data-ng-controller="HomeController" data-ng-init="getNewsAlert()">
    <ul class="nav navbar-nav pull-right">
        <li class="hidden-xs">
            <a href="/acc/sale/view-report" class="btn dropdown-toggle">
                <i class="fa fa-bell"></i>
                <span ng-if="cntAlert > 0" class="count">{{cntAlert}}</span>
            </a>
        </li>
        <li class="dropdown profile-dropdown">
            <a href="/acc/settings/profile" class="dropdown-toggle">
                <img src="cube/img/user-4.png" alt=""/>
                <span class="hidden-xs">{{authentication.user.displayName}}</span>
            </a>
        </li>
        <li class="hidden-xxs">
            <a class="btn" href="/api/auth/signout">
                <i class="fa fa-power-off"></i>
                <span class="hidden-xs">Logout</span>
            </a>
        </li>
    </ul>
</div>
