<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb">
			<li><a href="/acc">Home</a></li>
			<li class="active"><span>{{title}}</span></li>
		</ol>

		<h1>{{title}}</h1>
	</div>
</div>
