<section data-ng-controller="SettingsController" data-ng-init="listUsers()">
    <page-title title="View Users"></page-title>
    <div class="row">
        <div class="col-lg-12">
            <div class="main-box clearfix">
                <header class="main-box-header clearfix">
                    <a ng-if="auth.isAuthorized('admin')" href="/acc/settings/add-user" class="btn btn-success pull-right">Add User</a>
                </header>
                <div class="main-box-body clearfix">
                    <!-- Modal -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true">&times;</button>
                                    <h4 class="modal-title">Confirm To Delete:
                                        <u>{{removeUser.displayName}}</u>?
                                    </h4>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel
                                    </button>
                                    <button type="button" class="btn btn-primary" ng-click="confirmRemove();" data-dismiss="modal">Confirm
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <div class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                            <div class="dataTables_length">
                                <label>Show
                                    <select ng-disabled="isLoading" class="form-control input-sm" ng-model="numEntryPerPage"
                                            ng-options="num for num in showEntries" ng-change="updateEntry()"></select>
                                    entries
                                </label>
                            </div>

                            <!--div class="DTTT btn-group">
                                <a class="btn btn-primary DTTT_button_copy">
                                    <span>Copy</span>
                                </a>
                                <a class="btn btn-primary DTTT_button_csv">
                                    <span>CSV</span>
                                </a>
                                <a class="btn btn-primary DTTT_button_xls">
                                    <span>Excel</span>
                                </a>
                                <a class="btn btn-primary DTTT_button_pdf">
                                    <span>PDF</span>
                                </a>
                                <a class="btn btn-primary DTTT_button_print">
                                    <span>Print</span>
                                </a>
                            </div-->

                            <div class="dataTables_filter">
                            <label>Search:
                                <input type="search" class="form-control input-sm"
                                       ng-model="inputSearchText" ng-disabled="isLoading"
                                       ng-keypress="searchEnter($event)" ng-blur="search()">
                            </label>
                        </div>

                            <div class="clearfix"></div>

                            <table class="table table-hover dataTable no-footer">
                            <thead>
                            <tr>
                                <th ng-repeat="header in tableHeader" ng-class="header.sort"
                                    ng-click="sortByHeader($index)">{{header.name}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="usr in users">
                                <td>{{usr.displayName}}</td>
                                <td>{{usr.email}}</td>
                                <td>
                                    <span class={{setRoleCss(role)}} ng-repeat="role in usr.roles">{{role}}</span>
                                </td>
                                <td>
                                    <a class="table-link" ng-click="editUserInfo(usr._id)">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
										</span>
                                    </a>
                                    <a ng-if="usr._id !== user._id" ng-click="openModal(usr)" data-toggle="modal" data-target="#myModal" class="table-link danger">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
										</span>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                            <div class="dataTables_paginate paging_simple_numbers">
                            <ul class="pagination pull-right">
                                <li class="paginate_button previous">
                                    <a ng-click="loadPageDetail(currentPage - 1)"><i class="fa fa-chevron-left"></i></a>
                                </li>
                                <li ng-repeat="i in range(currentPage - 5, currentPage + 4, totalPages)" ng-class="{'paginate_button active': i === currentPage}" ng-click="loadPageDetail(i)">
                                    <a>{{i}}</a>
                                </li>
                                <li class="paginate_button next">
                                    <a ng-click="loadPageDetail(currentPage + 1)"><i class="fa fa-chevron-right"></i></a>
                                </li>
                            </ul>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
