#logo.navbar-brand > img.normal-logo.logo-white {
    width: 100%;
}

.modal-loader{
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background-image: url('../../img/preloader.gif');
    background-repeat: no-repeat;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.8);
    background-position: 50% 50%;
}
div.loading{
    overflow: hidden;
}
div.loading .modal-loader{
    display: block;
}

.spinnerText {
    font-size: 28px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: 60px;
    color: #a0a0a0;
    white-space: nowrap;
}

.spinnerText div {
    position: relative;
    right: 50%;
    font-size: 28px;
}

.project-box .project-box-header .name a {
    padding: 5px 15px;
}
