{% extends 'layout.server.view.html' %}

{% block content %}
{% if user %}
<div id="theme-wrapper">
    <header class="navbar" id="header-navbar">
        <div class="container">
            <a href="/acc/" id="logo" class="navbar-brand">
                <img src="cube/img/logo.png" alt="" class="normal-logo logo-white">
            </a>

            <div class="clearfix">
                <button class="navbar-toggle" data-target=".navbar-ex1-collapse" data-toggle="collapse" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="fa fa-bars"></span>
                </button>
                <div class="nav-no-collapse navbar-left pull-left hidden-sm hidden-xs">
                    <ul class="nav navbar-nav pull-left">
                        <li>
                            <a class="btn" id="make-small-nav">
                                <i class="fa fa-bars"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <header-menu></header-menu>
            </div>
        </div>
    </header>
    <div id="page-wrapper" class="container">
        <div class="row">
            <div id="nav-col">
                <section id="col-left"
                         class="col-left-nano">
                    <div id="col-left-inner" class="col-left-nano-content">
                        <div class="collapse navbar-collapse navbar-ex1-collapse" id="sidebar-nav" bs-navbar>
                            <ul class="nav nav-pills nav-stacked">
                                {% if user.roles.indexOf('admin') >= 0 %}
                                <li>
                                    <a href="/acc/user/list-users">
                                        <i class="fa fa-dashboard"></i>
                                        <span>User Management</span>
                                    </a>
                                </li>
                                {% endif %}
                                {% if user.roles.indexOf('admin') >= 0 %}
                                <li>
                                    <a href="/acc/core/url-sale">
                                        <i class="fa fa-plus-square"></i>
                                        <span>Sale URL</span>
                                    </a>
                                </li>
                                {% endif %}
                                {% if user.roles.indexOf('user') >= 0 %}
                                <li>
                                    <a href="" class="dropdown-toggle">
                                        <i class="fa fa-table"></i>
                                        <span>Sale Managment</span>
                                        <i class="fa fa-angle-right drop-icon"></i>
                                    </a>
                                    <ul class="submenu">
                                        {% if user.roles.indexOf('admin') >= 0 or user.roles.indexOf('label') >= 0 %}
                                        <li>
                                            <a href="/acc/sale/import-report">
                                                Import Sale Report
                                            </a>
                                        </li>
                                        {% endif %}
                                        <li>
                                            <a href="/acc/sale/view-track-shares">
                                                View Track Shares
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/acc/view-sale-comission">
                                                View Commission
                                            </a>
                                        </li>
                                        {% if user.roles.indexOf('admin') >= 0 %}
                                        <li>
                                            <a href="/acc/sale/payment">
                                                Sale Payment
                                            </a>
                                        </li>
                                        {% endif %}
                                    </ul>
                                </li>
                                {% endif %}
                                {% if user.roles.indexOf('admin') >= 0  %}
                                <li>
                                    <a href="" class="dropdown-toggle">
                                        <i class="fa fa-youtube"></i>
                                        <span>YouTube Managment</span>
                                        <i class="fa fa-angle-right drop-icon"></i>
                                    </a>
                                    <ul class="submenu">
                                        {% if user.roles.indexOf('admin') >= 0 %}
                                        <li>
                                            <a href="/acc/youtube/import-report">
                                                Import YouTube Report
                                            </a>
                                        </li>
                                        {% endif %}
                                        <li>
                                            <a href="/acc/youtube/view-video-shares">
                                                View Video Shares
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/acc/youtube/view-report">
                                                YouTube Commission
                                            </a>
                                        </li>
                                        {% if user.roles.indexOf('admin') >= 0 %}
                                        <li>
                                            <a href="/acc/youtube/payment">
                                                YouTube Payment
                                            </a>
                                        </li>
                                        {% endif %}
                                    </ul>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </section>
                <div id="nav-col-submenu"></div>
            </div>
            <div id="content-wrapper">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="slide-main-container">
                            <div data-ui-view class="slide-main-animation"></div>
                        </div>

                    </div>
                </div>

                <footer id="footer-bar" class="row ng-scope">
                    <p id="footer-copyright" class="col-xs-12">
                        Powered by EpicMusicVN.
                    </p>
                </footer>
            </div>
        </div>
    </div>
</div>
{% else %}
<section data-ui-view></section>
{% endif %}
{% endblock %}
