{% extends 'layout.server.view.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <center><b>System is processing new imported data, please wait until the process is completed!!!</b></center>
        </div>
    </div>
</div>
{% endblock %}
