<div class="table-responsive">
<table class="table table-hover">
    <thead>
    <tr>
        <th>User</th>
        <th>Role</th>
        <th>Commission</th>
    </tr>
    </thead>
    <tbody>
        <tr ng-repeat="videoShare in selectedVideoShare">
            <td>{{videoShare.userName}}</td>
            <td>{{videoShare.role}}</td>
            <td><input type="text" ng-model="videoShare.commission" class="form-control input-sm" size="1" /></td>
        </tr>
        <tr>
            <td>
                <select  select2 ng-model="selectedUser.value" id="usersModal" style="width: 100%"
                        ng-options="user as user.displayName for user in listUser">
                    <option value="">Select User</option>
                </select>
            </td>
            <td>
                <select select2 ng-model="selectedRole.value" id="rolesModal" style="width: 100%"
                        ng-options="role.id as role.name for role in listRole">
                    <option value="">Select Role</option>
                </select>
            </td>

            <td>
                <input type="text" ng-model="selectedCommission.value" class="form-control input-sm" size="1" />
            </td>
        </tr>
        <tr>
            <td></td>
            <td><button class="btn btn-success" ng-click="addCollaborator()" style="width: 100%">Add</button></td>
            <td><button class="btn btn-success" ng-click="saveAll()" style="width: 100%">Save All</button></td>
        </tr>
    </tbody>
</table>
</div>

