<section data-ng-controller="ReportController">
	<page-title title="Import YouTube Report"></page-title>
	<div id="load" class="loading" style="display: none;">
		<div class="modal-loader">
			<div class="spinnerText"><div>Processing...</div></div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="main-box">
				<header class="main-box-header clearfix">
					&nbsp;
				</header>
				<div class="main-box-body clearfix">
					<form name="importSaleForm" data-ng-submit="uploadFile(reportFile)" class="form-horizontal">
						<div class="form-group">
							<div class="col-xs-12 col-sm-3">
								<input class="form-control" ng-file-select ng-model="reportFile" type="file" required>
							</div>
							<div class="col-xs-12 col-sm-2">
								<input type="text" placeholder="Import Date" class="form-control" ng-model="import_date" id="datepickerDate" required>
							</div>
							<div class="col-xs-12 col-sm-1">
								<input type="number" min="0" max="100" placeholder="Commission" class="form-control" ng-model="originalCommission">
							</div>
							<div class="col-xs-12 col-sm-3">
								<button type="submit" class="btn btn-success">Import Sale Report</button>
							</div>
							<div class="col-xs-12 col-sm-3">
								<a href="/api/youtube/auth" class="btn btn-success">Import Channel Data</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
<script>
	$(function($) {
		$('#datepickerDate').datepicker({
			format: 'yyyy-mm-dd'
		});
	});
</script>
