<section data-ng-controller="VideoSharesController" data-ng-init="initLoad()">
    <page-title title="View Video Shares"></page-title>
    <div class="row">
        <div class="col-sm-12">
            <div class="main-box">
                <header class="main-box-header clearfix">
                    &nbsp;
                </header>
                <div class="main-box-body clearfix">
                    <form name="searchForm" class="form-horizontal">
                        <div class="form-group form-group-select2">
                            <div class="col-sm-3" ng-show="isAdmin() || filterUser.length > 1">
                                <select select2 ng-model="currentUser" style="width: 100%"
                                        ng-change="setUser()"
                                        id="user"
                                        ng-options="user as user.displayName for user in filterUser"
                                        ng-disabled="isLoading">
                                    <option value=''>All Users</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <select select2 ng-model="filterAlbum" style="width: 100%"
                                        ng-change="loadTrackShare()"
                                        id="album"
                                        ng-options="album as album.name for album in currentUser.albums"
                                        ng-disabled="isLoading">
                                    <option value=''>All Channel</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="main-box clearfix">
                <div class="main-box-body clearfix">
                    <div class="table-responsive" style="margin-top: 15px;">
                        <div class="dataTables_wrapper form-inline dt-bootstrap no-footer">

                            <div class="dataTables_length">
                                <label>Show
                                    <select ng-disabled="isLoading" class="form-control input-sm" ng-model="numEntryPerPage"
                                            ng-options="num for num in showEntries" ng-change="updateEntry()"></select>
                                    entries
                                </label>
                            </div>

                            <div class="DTTT btn-group">

                                <!-- INVITE COLLABORATORS -->
                                <a ng-click="inviteCollaborator()" class="table-link" title="Invite collaborators">
                                    <span class="fa-stack">
                                        <i class="fa fa-square fa-stack-2x"></i>
                                        <i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>

                                <!-- EDIT COLLABORATOR BUTTON -->
                                <a ng-click="editCollaborator()" class="table-link" ng-hide="disableEditCollaborator()" title="Edit collaborators">
                                    <span class="fa-stack">
                                        <i class="fa fa-square fa-stack-2x"></i>
                                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>

                                <!-- MULTIPLE REMOVE BUTTON -->
                                <a ng-click="openDeleteModal(undefined, undefined, undefined, 'multiple')" title="Remove shares"
                                   class="table-link danger" ng-show="isAdmin() && !disableEditCollaborator()" style="color: #e84e40;">
                                    <span class="fa-stack">
                                        <i class="fa fa-square fa-stack-2x"></i>
                                        <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </div>

                            <div class="dataTables_filter">
                                <label>Search:
                                    <input type="search" class="form-control input-sm" ng-change="delay(loadTrackShare, 1000)"
                                           ng-model="searchText" ng-disabled="isLoading">
                                </label>
                            </div>

                            <div class="clearfix"></div>

                            <table class="table table-hover dataTable no-footer" >
                                <thead>
                                <tr>
                                    <th style="width: 2%">
                                        <div>
                                            <a ng-if="showExpandedAll()" ng-click="toggleFieldAll()" class="ng-scope">
                                            <span class="{{expandedAll ? 'glyphicon glyphicon-minus' : 'glyphicon glyphicon-plus'}}">
                                            </span>
                                            </a>
                                        </div>
                                    </th>
                                    <th style="width: 2%">
                                        <input type="checkbox" ng-model="checkAll" ng-change="toggleCheckAll()"/>
                                    </th>
                                    <th style="width: 16%">User</th>
                                    <th ng-click="sortAlbum = toggleSort(sortAlbum)" style="width: 23%">
                                        Channel
                                        <span ng-show="isSortReversed(sortAlbum)" class="sorting_desc"></span>
                                        <span ng-show="!isSortReversed(sortAlbum)" class="sorting_asc"></span>
                                    </th>
                                    <th ng-click="sortTrack = toggleSort(sortTrack)" style="width: 32%">
                                        Video
                                        <span ng-show="isSortReversed(sortTrack)" class="sorting_desc"></span>
                                        <span ng-show="!isSortReversed(sortTrack)" class="sorting_asc"></span>
                                    </th>
                                    <th style="width: 13%">Role</th>
                                    <th style="width: 7%">Commission</th>
                                    <th style="width: 5%"></th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr ng-show="isAdmin()">
                                    <td></td>
                                    <td></td>
                                    <td style="width: 16%">
                                        <select ng-change="selectUser()" ng-model="selectedUser.value" select2 style="width: 100%"
                                                ng-options="user as user.displayName for user in listUser">
                                            <option value="">Select User</option>
                                        </select>
                                    </td>
                                    <td style="width: 23%">
                                        <select ng-change="setAlbum()" ng-model="selectedAlbum" select2 style="width:100%"
                                                ng-options="album as album.name for album in listAlbum">
                                            <option value="">Select Channel</option>
                                        </select>
                                    </td>
                                    <td style="width: 32%">
                                        <!--<select ng-model="selectedTrack" select2  style="width:100%"
                                                ng-options="track as track.trackName for track in listTrack">
                                            <option value="">Select Video</option>
                                        </select>-->
                                        <ui-select  ng-model="selectedTrack.value" theme="select2" ng-disabled="disabled" style="width: 100%;">
                                            <ui-select-match placeholder="Select Video">{{$select.selected.trackName}}</ui-select-match>
                                            <ui-select-choices refresh="searchVideo($select.search)" refresh-delay="1000"
                                                               repeat="track in listTrack" position="down">
                                                {{track.trackName}}
                                            </ui-select-choices>
                                        </ui-select>
                                    </td>
                                    <td style="width: 13%">
                                        <select ng-model="selectedRole.value" select2 style="width: 100%"
                                                ng-options="role.id as role.name for role in listRole">
                                            <option value="">Select Role</option>
                                        </select>
                                    </td>
                                    <td>
                                        <input type="text" ng-model="selectedCommission.value" class="form-control input-sm" style="width: 100%" />
                                    </td>
                                    <td>
                                        <button class="btn btn-success" ng-click="addTrackShare()" style="width: 100%"
                                                ng-disabled="isLoading">
                                            Add
                                        </button>
                                    </td>
                                </tr>

                                <tr title="{{trackShare.debugShare}}" ng-repeat-start="trackShare in allTrackShare | orderBy:[sortAlbum, sortTrack]">
                                    <td>
                                        <a ng-if="trackShare.shareWith.length > 0" ng-click="toggleField(trackShare, 'expanded')">
                                        <span class="{{trackShare.expanded ? 'glyphicon glyphicon-minus' : 'glyphicon glyphicon-plus'}}">
                                        </span>
                                        </a>
                                    </td>
                                    <td>
                                        <input type="checkbox" ng-model="trackShare.selected" ng-checked="checkAll"/>
                                    </td>
                                    <td>{{trackShare.userName}}</td>
                                    <td>{{trackShare.albumName}}</td>
                                    <td>{{trackShare.trackName}}</td>
                                    <td>{{trackShare.role}}</td>
                                    <td class="number">
                                        <span ng-if="!trackShare.isEdit">
                                            {{trackShare.commission}}%
                                        </span>
                                        <span ng-if="trackShare.isEdit">
                                            <input type="text" ng-model="trackShare.commission" class="form-control input-sm" style="width: 100%"
                                                   ng-change-on-blur="keepOldCommission({{trackShare.commission}})"
                                                   ng-blur="editCommission(trackShare, 'isEdit')" focus-me="trackShare.isEdit" />
                                        </span>
                                    </td>
                                    <td>
                                        <!-- EDIT BUTTON -->
                                        <a ng-click="toggleField(trackShare, 'isEdit')" class="table-link" ng-show="isAdmin()"
                                           ng-class="{disableClick: isLoading, disableClick: trackShare.isEdit}">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>
                                    </td>
                                </tr>
                                <tr ng-repeat-end ng-show="trackShare.expanded" ng-repeat="childShare in trackShare.shareWith" title="{{childShare.debugShare}}">
                                    <td></td>
                                    <td></td>
                                    <td>{{childShare.userName}}</td>
                                    <td></td>
                                    <td></td>
                                    <td>{{childShare.role}}</td>
                                    <td style="text-align: center;">
                                        <span ng-if="!childShare.isEdit">
                                            {{childShare.commission}}%
                                        </span>
                                        <span ng-if="childShare.isEdit">
                                            <input type="text" ng-model="childShare.commission" class="form-control input-sm" style="width: 100%"
                                                   ng-change-on-blur="keepOldCommission({{childShare.commission}})"
                                                   ng-blur="editCommission(childShare, 'isEdit', trackShare)" focus-me="childShare.isEdit" />
                                        </span>
                                    </td>
                                    <td>
                                        <!-- EDIT BUTTON -->
                                        <a ng-click="toggleField(childShare, 'isEdit')" class="table-link"
                                           ng-class="{disableClick: isLoading, disableClick: childShare.isEdit}">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <table-pagination></table-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
