<section data-ng-controller="YouTubeController" data-ng-init="initLoad()">
    <page-title title="View Commission"></page-title>
    <div class="row">
        <div class="col-sm-12">
            <div class="main-box">
                <header class="main-box-header clearfix">
                    &nbsp;
                </header>
                <div class="main-box-body clearfix">
                    <form name="searchForm" class="form-horizontal">
                        <div class="form-group form-group-select2">
                            <div class="col-sm-3">
                                <select ng-model="selectedChannel" select2
                                        style="width:250px"
                                        id="channel"
                                        ng-change="setChannel()"
                                        ng-options="channel as channel.channelName for channel in listChannel">
                                    <option value=''>All Channels</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <select style="width:250px" select2
                                        ng-change="setUser()"
                                        id="user"
                                        ng-options="user as user.userName for user in selectedChannel.users"
                                        ng-model="selectedUser">
                                    <option value=''>All Users</option>
                                </select>
                            </div>
                            <div class="col-sm-2">
                                <select style="width:150px" select2
                                        ng-change="setRole()"
                                        id="role"
                                        ng-options="role as role.role for role in selectedUser.roles"
                                        ng-model="selectedRole">
                                    <option value=''>All Roles</option>
                                </select>
                            </div>
                            <div class="col-sm-4 pull-right">
                                <select style="width:120px" select2
                                        ng-change="loadCommission()"
                                        id="startDate"
                                        ng-options="item.value as item.text | date : 'MMM - yyyy' for item in dateRangeStart"
                                        ng-model="startDate">
                                    <option value=0>Start Date</option>
                                </select>
                                &nbsp;
                                <select style="width:120px" select2
                                        ng-change="loadCommission()"
                                        id="endDate"
                                        ng-options="item.value as item.text | date : 'MMM - yyyy' for item in dateRangeEnd.slice().reverse()"
                                        ng-model="endDate">
                                    <option value=9999999999999>End Date</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="main-box clearfix">
                <div class="tabs-wrapper profile-tabs">
                    <ul class="nav nav-tabs">
                        <li class="active"><a showtab="" ng-click="setTabDisplay('tabChartSummary')" data-target="#tab-summary" data-toggle="tab">Summary</a></li>
                        <li><a showtab="" ng-click="setTabDisplay('tabVideo')" data-target="#tab-video" data-toggle="tab">Videos</a></li>
                        <li><a showtab="" ng-if="auth.isAuthorized('admin')" ng-click="setTabDisplay('tabDeleteVideo')" data-target="#tab-delete-video" data-toggle="tab">Removed Videos</a></li>
                        <li><a showtab="" ng-click="setTabDisplay('tabArtist')" data-target="#tab-artist" data-toggle="tab">Artist</a></li>
                        <li><a showtab="" ng-click="setTabDisplay('tabChannel')" data-target="#tab-channel" data-toggle="tab">Channel</a></li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab-summary">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="main-box clearfix">
                                        <header class="main-box-header clearfix">
                                            <h2>Sale Performance <span ng-show="dateStart">(Date Start - Date End)</span></h2>
                                        </header>
                                        <div class="main-box-body clearfix">
                                            <div class="col-sm-2 text-center">
                                                <h2>{{earningSummary.commission | number: 3}}</h2>
                                                <div class="badge badge-success">Earnings</div>
                                            </div>
                                            <div class="col-sm-2 text-center">
                                                <h2>{{earningSummary.paid | number: 3}}</h2>
                                                <div class="badge badge-success">Paid</div>
                                            </div>
                                            <div class="col-sm-2 text-center">
                                                <h2>{{earningSummary.balance | number: 3}}</h2>
                                                <div class="badge badge-success">Balance</div>
                                            </div>
                                            <div class="col-sm-2 text-center">
                                                <h2>{{earningSummary.quantity}}</h2>
                                                <div class="badge badge-success">Total Videos</div>
                                            </div>
                                            <div ng-if="auth.isAuthorized('admin')" class="col-sm-2 text-center">
                                                <h2>{{earningSummary.removedProfit | number: 3}}</h2>
                                                <div class="badge badge-success">Removed Profits</div>
                                            </div>
                                            <div ng-if="auth.isAuthorized('admin')" class="col-sm-2 text-center">
                                                <h2>{{earningSummary.removedQuantity}}</h2>
                                                <div class="badge badge-success">Removed Videos</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="main-box">
                                        <header class="main-box-header clearfix">
                                            <h2>Monthly Earning</h2>
                                        </header>

                                        <div class="main-box-body clearfix">
                                            <div id="roll14" style="height: 400px; min-width: 310px"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab-detail">
                            <div class="table-responsive">
                                <div class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                                    <header-filter></header-filter>

                                    <div class="clearfix"></div>

                                    <table class="table table-hover dataTable no-footer">
                                        <thead>
                                        <tr>
                                            <th ng-repeat="header in detailHeader" ng-class="header.sort"
                                                ng-click="sortByHeader($index)">{{header.name}}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="item in saleCommission">
                                            <td>{{item.channel_name}}</td>
                                            <td>{{item.video_name}}</td>
                                            <td>{{item.partner}}</td>
                                            <td>{{item.type}}</td>
                                            <td>{{item.quantity}}</td>
                                            <td>{{item.unit | number: 3}}</td>
                                            <td>{{item.profit | number: 3}}</td>
                                            <td>{{item.commission | number:3}}</td>
                                            <td>{{item.sale_date | date:'yyyy-MM-dd'}}</td>
                                        </tr>
                                        <tr ng-if="saleCommission.length === 0">
                                            <td colspan="9" class="dataTables_empty">No data found</td>
                                        </tr>
                                        <tr>
                                            <td colspan="6" align="right"><b>Total</b></td>
                                            <td><b>{{saleCommission.sum('profit') | number: 3}}</b></td>
                                            <td colspan="2"><b>{{saleCommission.sum('commission') | number: 3}}</b></td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    <table-pagination></table-pagination>

                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab-video">
                            <div class="table-responsive">
                                <div class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                                    <header-filter></header-filter>

                                    <div class="clearfix"></div>

                                    <table class="table table-hover dataTable no-footer">
                                        <thead>
                                        <tr>
                                            <th ng-repeat="header in videoHeader" ng-class="header.sort"
                                                ng-click="sortByHeader($index)">{{header.name}}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="item in saleCommission">
                                            <td>{{item.channelName}}</td>
                                            <td>{{item.videoName}}</td>
                                            <td>{{item.profit | number: 3}}</td>
                                            <td>{{item.commission| number: 3}}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" align="right"><b>Total</b></td>
                                            <td><b>{{saleCommission.sum('profit') | number: 3}}</b></td>
                                            <td><b>{{saleCommission.sum('commission') | number: 3}}</b></td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    <table-pagination></table-pagination>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab-delete-video">
                            <div class="table-responsive">
                                <div class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                                    <header-filter></header-filter>

                                    <div class="clearfix"></div>

                                    <table class="table table-hover dataTable no-footer">
                                        <thead>
                                        <tr>
                                            <th ng-repeat="header in videoHeader" ng-class="header.sort"
                                                ng-click="sortByHeader($index)">{{header.name}}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="item in saleCommission">
                                            <td>{{item.channelName}}</td>
                                            <td>{{item.videoName}}</td>
                                            <td>{{item.profit | number: 3}}</td>
                                            <td>{{item.commission| number: 3}}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" align="right"><b>Total</b></td>
                                            <td><b>{{saleCommission.sum('profit') | number: 3}}</b></td>
                                            <td><b>{{saleCommission.sum('commission') | number: 3}}</b></td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    <table-pagination></table-pagination>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab-artist">
                            <div class="table-responsive">
                                <div class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                                    <header-filter></header-filter>

                                    <div class="clearfix"></div>

                                    <table-youtube-group></table-youtube-group>

                                    <table-pagination></table-pagination>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab-channel">
                            <div class="table-responsive">
                                <div class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                                    <header-filter></header-filter>

                                    <div class="clearfix"></div>

                                    <table-youtube-group></table-youtube-group>

                                    <table-pagination></table-pagination>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
