<div class="modal-header">
    <h4 class="modal-title">
        <strong>Edit Collaborator Share</strong>
    </h4>
</div>
<div class="modal-body">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th style="width: 45%">User</th>
                <th style="width: 25%">Role</th>
                <th style="width: 15%">Commission</th>
                <th style="width: 15%"></th>
            </tr>
            </thead>
            <tr ng-repeat="trackShare in selectedTrackShare">
                <td>{{trackShare.userName}}</td>
                <td>{{trackShare.role}}</td>
                <td>
                    <input type="text" ng-model="trackShare.commission" class="form-control input-sm" size="1"
                           ng-change="validateAllCollaCommission(selectedTrackShare, trackShare)" />
                </td>
                <td>
                    <!-- REMOVE BUTTON -->
                    <a ng-click="openDeleteModal(undefined, undefined, $index)" class="table-link danger"
                       ng-class="{disableClick: isLoading}">
                    <span class="fa-stack">
                        <i class="fa fa-square fa-stack-2x"></i>
                        <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                    </span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <select select2 ng-model="selectedUser.value" id="usersModal" style="width: 100%"
                            ng-options="user as user.displayName for user in listUser">
                        <option value="">Select User</option>
                    </select>
                </td>
                <td>
                    <select select2 ng-model="selectedRole.value" id="rolesModal" style="width: 100%"
                            ng-options="role.id as role.name for role in listRole">
                        <option value="">Select Role</option>
                    </select>
                </td>

                <td>
                    <input type="text" ng-model="selectedCommission.value" class="form-control input-sm" size="1"/>
                </td>
                <td>
                    <button class="btn btn-success" ng-click="addCollaborator()" style="width: 100%">Add</button>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="modal-footer">
    <span class="pull-left" ng-if="listUser.length === 0">You have no collaborators, please invite <a ng-click="inviteCollaborator()">here</a></span>
    <button class="btn btn-primary" ng-click="saveAll()">Save All</button>
    <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
</div>
