<div class="modal-header">
    <h4 class="modal-title">
        <strong>Remove Track Share</strong>
    </h4>
</div>
<div class="modal-body">
    Are you sure to delete this share?
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="confirmDelete()">Yes</button>
    <button class="btn btn-primary" ng-click="cancelDelete()">No</button>
</div>
