<div class="modal-header">
    <h4 class="modal-title">
        <strong>Invite Collaborators</strong>
    </h4>
</div>
<div class="modal-body">
    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <td>
                    <input type="text" class="form-control" required ng-enter="confirmInvite()"
                           ng-model="inviteEmails.value" placeholder="List of email address (separated by comma) ...">
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="confirmInvite()">Invite</button>
    <button class="btn btn-primary" ng-click="cancelInvite()">Cancel</button>
</div>
